/* GENERAL */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

body > .container {
    max-height: calc(100vh - 10vh);
    min-height: -webkit-fill-available;
}

body {
    min-height: -webkit-fill-available;
    background-color: #141922;
}

html {
    min-height: -webkit-fill-available;
}

/* HEADER */
header > nav {
    background-color: black;
    height: 100%;
    padding: .5rem;
}

.header svg {
    color: #7a7a7a;
}

.logo svg {
    color: #fff;
}

.logo-small {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.install {
    margin-left: -5%;
}

header > nav > div:first-child {
    overflow-y: auto;
}

.playlists {
    overflow-y: auto;
}

.hidden {
    display: none;
}

header > nav img {
    height: 1rem;
}

header > nav span,
header > nav p {
    font-size: .875rem;
    font-weight: 600;
    padding-left: .5rem;;
}

.thin {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


/* MAIN */
main {
    overflow-y: auto;
    padding-top: 6rem;
}

main img {
    max-width: 100%;
}

.upgrade-bar {
    position: fixed;
    top: 0;
    min-height: 10vh;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: calc(100% - 2rem);
}

.upgrade-bar button {
    border: 1px solid white;
    border-radius: 3rem;
    padding: .5rem 2.5rem;
    font-weight: 700;
    transition: .5s;
}



main .nav-wrapper nav {
    white-space: nowrap;
    gap: .5rem;
}

.col {
    width: calc((100% - 2rem) / 4);
    flex-basis: fit-content;
    padding-bottom: 1rem;
}

.albums {
    overflow-y: auto;
}

.album {
    padding: 1rem;
    gap: .5rem;
}

main p {
    color: #7a7a7a;
    font-size: .625rem;
    font-weight: 700;
}

main h3 {
    font-size: .75rem;
    font-weight: 700;
}

/* FOOTER */
.footer-player {
    height: 10vh;
    padding: 0 .5rem;
}

.footer-player .now-playing img {
    height: 3rem;
}

.footer-player .progress-bar {
    border: none;
    height: .125rem;
    width: 20vw;
    background: linear-gradient(to left, #7a7a7a 80%, #fff 20%);
}

.footer-player .audio-settings .audio-speaker {
    transform: rotate(180deg);
}

.footer-player .audio-settings .progress-bar {
    width: 10vw;
}

/* HOVER */
.logo:hover svg {
    color: lime;
}

.hover-white:hover {
    color: #fff;
}

.upgrade-bar button:hover {
    transform: scale(1.1);
}

.nav-wrapper nav h4:hover {
    color: #fff;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #141922, lime, #141922);
    border-image-slice: 1;
    margin-top: -3px;
    animation: underline 0.5s;
}

.sections > div:hover {
    border-left: 1px solid lime;
    box-shadow: 0 0px 3px 0 rgba(255,255,255,0.5) inset;
}

@keyframes underline {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.album-img {
    position: relative;
}

.album-img:hover img {
    filter: opacity(0.5);
}

.album:hover img {
    filter: opacity(0.5);
}

.play-hover {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.album-img:hover .play-hover {
    visibility: visible;
}

/* MEDIA QUERIES */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


@media screen and (min-width: 481px) {
    header > nav {
        width: 12rem;
    }

    .logo {
        height: 10vh;
        display: flex;
        align-items: center;
    }

    header > nav div {
        padding: .5rem;
    }

    .logo img {
        height: 70%;
        max-width: 100%;
    }

    .install {
        margin-left: 0;
    }

    .display-s {
        display: block;
    }

    .display-none-s {
        display: none;
    }
    
    .nav-wrapper {
        width: 80%;
        margin: auto;
    }

    .col {
        width: calc((100% - 3rem) / 3);
    }

    .upgrade-bar {
        width: calc(100% - 12rem);
    }
}


@media screen and (min-width: 769px) {
    .nav-wrapper nav {
        font-size: .75rem;
    }

    .col {
        width: calc((100% - 5rem) / 5);
    }
    .album {
        width: 25%;
    }
    .albums {
        flex-wrap: wrap;
    }

    .footer-player .play-btn {
        padding: 0 1rem;
    }
    
}

@media screen and (min-width: 1025px) {
    .nav-wrapper nav {
        font-size: 1rem;
    }

    main .nav-wrapper nav {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem;
    }

    .col {
        width: auto;
    }

    .album {
        width: calc(100% / 6);
    }

}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #898989; 
    border-radius: 2px;
  }